* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;


}

#logo {
    font-size: medium;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

nav ul li a:hover {
    color: blue;
}

span {
    color: blue;
}